.links-container {
	margin: 20vh 25vw 0vh 25vw;
	display: flex;
	flex-direction: column;
}

.link-img {
	height: 3rem;
	width: 3rem;
	border: solid 3px;
	padding: 15px;
	border-radius: 25px;
}

.align-end {
	align-self: flex-end;
}

span {
	font-size: 32px;
}
