.links-container {
	margin: 15vh 20vw 0vh 20vw;
	display: flex;
	flex-direction: column;
}

.link-img {
	height: 3rem;
	width: 3rem;
	border: solid 3px;
	padding: 15px;
	border-radius: 25px;
}

.align-end {
	align-self: flex-end;
}

.link {
	display: inline-flex;
}

.link-text {
	align-self: center;
	font-size: 36px;
	margin: 0em 0.5em;
	font-weight: bold;
}

.about-me-text-container {
	margin: 5vh 20vw 5vh 20vw;
}

.footer {
	text-align: center;
	font-size: 12px;
}
