.links-container {
	margin: 15vh 20vw 0vh 20vw;
	display: flex;
	flex-direction: column;
}

.link-img {
	height: 3rem;
	width: 3rem;
	border: solid 3px;
	padding: 15px;
	border-radius: 25px;
}

.align-end {
	align-self: flex-end;
}

.link {
	display: flex;
}

.link-text {
	align-self: center;
	font-size: 36px;
	margin: 0em 0.5em;
	font-weight: bold;
}

.about-me-text {
	margin: 5vh 20vw 5vh 20vw;
	text-indent: 3em;
	font-size: 24px;
}

.footer {
	text-align: center;
	font-size: 12px;
}

.about-me-technologies-list {
	margin: 0px;
	padding: 0px;
	display: inline-grid;
}

.technologies {
	text-align: center;
}

.technologies-list-item {
	margin: 0.5rem 0rem 0rem 0rem;
	padding: 0px;
	font-size: 24px;
}

.list-img {
	/* Set the size of this icon same as the size of font */
	width: 24px;
	height: 24px;
}
