.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-main-container {
	margin: 10vh 20vw 0vh 20vw;
}

.top-margin {
	margin: 7vh 0vw 0vh 0vw;
}

.text-field {
	width: 100%;
	font-size: 24px;
}

.text-above-field {
	font-size: 24px;
}

#text {
	height: 5em;
}

#send-img {
	flex: 1;
	height: 4rem;
	background-color: green;
}

#submit-button {
	height: 4rem;
	width: 15rem;
	flex: 3;
	border: none;
	background-color: #ffc947;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	float: right;
	cursor: pointer;
}
