body {
	color: white;
	font-family: Raleway Regular;
}

.home-welcome-text-container {
	text-align: center;
	font-size: 72px;
	border: solid 5px;
	border-radius: 15px;
	margin: 20vh 15vw 0vh 15vw;
}

.home-welcome-text {
	padding: 1rem 0em;
}
