body {
	color: white;
	font-family: Raleway Regular;
}

a {
	text-decoration: underline;
	color: #fe346e;
}

.home-welcome-text-container {
	text-align: center;
	font-size: 72px;
	border: solid 5px;
	border-radius: 15px;
	margin: 15vh 15vw 0vh 15vw;
}

.home-welcome-text {
	padding: 1rem 0em;
}

.home-content {
	margin: 5vh 20vw 0vh 20vw;
}

.home-content-text {
	font-size: 24px;
	text-indent: 3em;
}
