.navbar-main-flex {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* Change the color of the Navbar here */
	background-color: #ffd369;
	position: sticky;
	height: 4rem;
}

.navbar-logo {
	flex: 1;
	margin-left: 5rem;
	align-self: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	font-weight: bold;
	color: black;
}

.navbar-buttons-container {
	flex: 2;
	align-self: center;
}

ul {
	list-style-type: none;
	float: right;
}

li {
	display: inline-block;
}

.navbar-a {
	text-decoration: none;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #015668;
	margin-right: 4rem;
}
