.project-title {
	padding: 0;
	margin: 0;
}

.project-container {
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
	width: 100%;
}

.image {
	max-height: 15rem;
	border: solid 5px;
	margin-right: 3vw;
}
.image-container {
	flex: 1;
	justify-content: center;
	text-align: center;
}

.text-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.project-description-text {
	font-size: 20px;
}
